@model  IEnumerable<TrashCollection.Models.Customer>

@{
    ViewBag.Title = "EmployeeIndex";
}

<h2>EmployeeIndex</h2>

<div>

    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
       
        @foreach (var item in Model)
        {
            <dt>

                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.LastName)
            </dd>
        }
        </dl>
</div>


       